#uv-pricecloud-api
API_PORT=
API_TOKEN=
API_CLIENT=
API_LOG= #1 or 0

#uv-pricecloud-duckdns
PUID=1000 #optional
PGID=1000 #optional
TZ=America/Bogota
SUBDOMAINS=
DUCKDNS_TOKEN=
LOG_FILE=true #optional

#uv-pricecloud-db
DB_USER=
DB_PASSWORD=
DB_DATABASE=
DB_HOST=
DB_PORT=
PG_ADMIN_EMAIL=
PG_ADMIN_PASSWORD=