# Byte-compiled / optimized / DLL files
.env

__pycache__
*.py[cod]
*.pyo
*.egg-info/
dist/
build/

# Caches
*.cache/
.cache/

# Logs
logs/
*.log

# Runtime data
*.pid
*.seed
*.lock

# Virtual Environments
venv/
*.venv
venv.bak/
.venv.bak/

# Jupyter Notebook
.ipynb_checkpoints

# IDEs and editors
# VS Code
.vscode/
# PyCharm

