API_PORT=
API_JWT_SECRET=
API_JWT_EXPIRATION_TIME=
API_COOKIE_EXPIRATION_TIME= # 1800000 ms = 30 min
API_COOKIE_DOMAIN= #default localhost, required Avoid CSRF attacks

DB_HOST=
DB_PORT=
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_SECRET=
DB_IV=

ENV=