input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus,
select:-webkit-autofill:focus,
.css-lleskb-MuiInputBase-input-MuiOutlinedInput-input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
}

.custom-alert {
  background-color: #051d21 !important;
  opacity: 0.95 !important;
  font-weight: lighter !important;
  color: #cfcfcf !important;
}

a {
  color: #cfcfcf;
  text-decoration: none;
}

a:visited {
  color: #cfcfcf;
}

a:hover {
  color: #06b6d4;
}

a:active {
  color: #06b6d4;
}
