input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus,
select:-webkit-autofill:focus,
.css-lleskb-MuiInputBase-input-MuiOutlinedInput-input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
}

.custom-alert {
  background-color: #051d21 !important;
  opacity: 0.95 !important;
  font-weight: bold !important;
  color: #969696 !important;
}

a {
  color: #ffffff; /* Color base para enlaces no visitados */
  text-decoration: none; /* Si quieres quitar el subrayado, por ejemplo */
}

a:link {
  color: #ffffff; /* Este es un azul típico para enlaces */
}

/* Estilo para enlaces visitados */
a:visited {
  color: #ffffff; /* Este es un gris para enlaces que ya se han visitado */
}

/* Si también deseas cambiar el color cuando se pasa el ratón sobre el enlace */
a:hover {
  color: #06b6d4; /* Este es un azul más oscuro */
}

/* Y tal vez quieras un estilo para cuando el enlace está siendo activado (ej., mientras se está haciendo clic en él) */
a:active {
  color: #06b6d4; /* Este es un azul todavía más oscuro */
}
